---
layout: page
# The Question of page.
---

{% include lang.html %}

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

<div id="question" class="pl-xl-2">
    <div class="pl-xl-4 contact-form" id="form">      
      <v-theme-provider root>
        <v-form accept-charset="UTF-8" name="contact" method="post" v-on:submit.prevent="validateBeforeSubmit(this)" ref="contact" lazy-validation v-model="valid">
          <input type="hidden" name="_subject"
            value="{{ site.data.locales[lang].question.subject | default: 'New contact!' }}"/>
          <input type="hidden" name="_language" value="{{ site.lang }}"/>
          <v-container>
            <v-col cols="12">
              <v-text-field class="form-input" counter prepend-inner-icon="mdi-account" maxlength="10" :rules="nameRules" v-model="contact.name"
                label="{{ site.data.locales[lang].question.placeholders.name | default: '이름' }}" name="name" required>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field class="form-input" prepend-inner-icon="mdi-mail" :rules="emailRules" v-model="contact.email"
                label="{{ site.data.locales[lang].question.placeholders.email | default: '이메일' }}" name="email" required></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea class="form-input" prepend-inner-icon="mdi-comment" :rules="messageRules" v-model="contact.message"
                label="{{ site.data.locales[lang].question.placeholders.message | default: '문의사항' }}" counter
                maxlength="200" name="message" required>
              </v-textarea>
            </v-col>
            <v-col cols="12">
              <v-btn block type="submit" :disabled="!valid" color="success" class="mr-4">
                보내기
              </v-btn>
            </v-col>
          </v-container>
          <vue-grecaptcha :sitekey="sitekey" data-size="invisible" :theme="theme" ref="invisibleRecaptcha"
            :callback="MailSubmit"></vue-grecaptcha>
        </v-form>
      </v-theme-provider>
    </div>

    <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaInit&render=explicit" async defer></script>

    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-grecaptcha@latest/dist/vue-grecaptcha.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.js"></script>     -->
    <script src="/assets/js/dist/email.js"></script>
</div>