---
layout: page
# The Question of page.
---

{% include lang.html %}

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

<div id="question" class="pl-xl-2">
    <div class="pl-xl-4 contact-form" id="form">      
      <v-theme-provider root>
        <v-form @submit.prevent="submit">
          <v-container>
            <v-col cols="12">
              <v-text-field counter prepend-inner-icon="mdi-account" maxlength="10"
                label="{{ site.data.locales[lang].question.placeholders.name | default: '이름' }}" required>
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field prepend-inner-icon="mdi-mail"
                label="{{ site.data.locales[lang].question.placeholders.email | default: '이메일' }}"></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea prepend-inner-icon="mdi-comment"
                label="{{ site.data.locales[lang].question.placeholders.message | default: '문의사항' }}" counter
                maxlength="200">
              </v-textarea>
            </v-col>
            <v-col cols="12">
              <v-btn block type="submit">
                보내기
              </v-btn>
            </v-col>
          </v-container>
          <vue-grecaptcha :sitekey="sitekey" data-size="invisible" :theme="theme" ref="invisibleRecaptcha"
            :callback="MailSubmit"></vue-grecaptcha>
        </v-form>
      </v-theme-provider>
        
        <!-- <form accept-charset="UTF-8" method="post" v-on:submit.prevent="validateBeforeSubmit" ref="contact">
            <input type="hidden" name="_subject"
              value="{{ site.data.locales[lang].question.subject | default: 'New contact!' }}" />
            <input type="hidden" name="_language" value="{{ site.lang }}" />
            <header>
                <h1>{{site.data.locales[lang].question.question_title}}</h1>
                <h3>{{site.data.locales[lang].question.sub_title}}</h3>
            </header>
            <div class="form-group">
                <input type="text" name="name"
                  placeholder="{{ site.data.locales[lang].question.placeholders.name | default: '이름' }}"
                  v-validate="'required'" :class="{ 'has-error': errors.has('name') }">
                <span v-if="errors.has('name')" v-cloak>${ errors.first('name') }</span>
            </div>
            <div class="form-group">
                <input type="text" name="email"
                  placeholder="{{ site.data.locales[lang].question.placeholders.email | default: 'Your email' }}"
                  v-validate="'required|email'" :class="{ 'has-error': errors.has('email') }">
                <span v-if="errors.has('email')" v-cloak>${ errors.first('email') }</span>
            </div>
            <div class="form-group">
                <textarea name="message" onkeyup="adjust_textarea(this)"
                  placeholder="{{ site.data.locales[lang].question.placeholders.message | default: 'Your message' }}"
                  v-validate="'required'" :class="{ 'has-error': errors.has('message') }"></textarea>
                <span v-if="errors.has('message')" v-cloak>${ errors.first('message') }</span>
            </div>
            <vue-grecaptcha :sitekey="sitekey"
              data-size="invisible" ref="invisibleRecaptcha" v-bind:callback="callback"
              v-bind:theme="theme">
              </vue-grecaptcha>
            <v-text-field label="Another input"></v-text-field>
            <button type="submit" name="send">보내기</button>
        </form>     -->    
        
    <form>
      
    </form>
  
    </div>

    <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaInit&render=explicit" async defer></script>

    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-grecaptcha@latest/dist/vue-grecaptcha.min.js"></script>

    <script type="text/javascript">
      Vue.use(Vuetify);
      Vue.use(VueGrecaptcha);

      /* axios.post('https://email.boolean.kr', {
        answer: 11
      }, {
        'Content-Type': 'application/json'
      }).then(function(res) {
        console.log(res);
      }).catch(function(err) {
        console.log(err);
      }) */

      const App = new Vue({
        el: '#form',
        delimiters: ['${', '}'],
        mounted() {
          const lightTheme = "light";
          const darkTheme = "dark";
          let initTheme = lightTheme;

          if ($("html[mode=dark]").length > 0 || ($("html[mode]").length == 0 && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
            initTheme = darkTheme;
          }
          this.theme = initTheme;

          this.$vuetify.theme.dark = (initTheme !== 'dark') ? false : true;

          addEventListener('message', (event) => {
            let theme;

            if (event.source === window && event.data && event.data.direction === ModeToggle.ID) {
              const mode = event.data.message;

              this.$vuetify.theme.dark = (mode !== 'dark') ? false : true;
            }
          });
        },
        vuetify: new Vuetify(),
        data() {
            return {
              contact: {
                name: ''
              },
              sitekey: '6LeZOAIeAAAAAPNCqN94M9BDK61TbRF52hFYRx88',
              captchaResponseCallback: '',
              theme: ''
            }
        },
        methods: {
          submit: function() {
            // grecaptcha.execute();
            console.log('서브~');
          },
          resetRecaptcha: function() {
            grecaptcha.reset();
          },
          MailSubmit: function() {
            console.log('성공데스!');
          }
        },
      });
    </script>
    
    
</div>